body {
  background-color: #071b38;
}

header {
  background-color: #071b38;
  color: aliceblue;
  text-align: center;
  padding: 270px 30px 240px;
}

header img {
  mix-blend-mode: lighten;
}

main img {
  background-color: #53729c;
  border-radius: 10px;
  mix-blend-mode: multiply;
  width: 100%;
}

main h3 {
  color: aliceblue;
  font-size: medium;
  text-align: center;
}

.about-grid .row {
  height: 700px;
}
